/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

html,
body {
  letter-spacing: 1px;
  overflow-x: hidden;
  padding-bottom: 0;
}

@font-face {
  font-family: "Romantica Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Romantica Regular"), url("Romantica-RpXpW.woff") format("woff");
}

.content {
  min-height: 100vh;
  width: 100%;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Romantica Regular";
  color: #fff;
  font-size: 4em;
  font-weight: 900;
  letter-spacing: 3px;
}

.recipeimg {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.recipe {
  width: 80%;
  line-height: 2em;
  padding-top: 1em;
  height: 4em;
}
/*Nav*/
nav {
  display: flex;
  height: 6em;
  background-color: rgba(14, 14, 14, 0.64);
}

.mylogo {
  width: 15vh;
  float: left;
  color: #fff !important;
  border: 3px solid #f60;
  text-align: center;
  font-size: 1.7em;
  text-decoration: none !important;
}
.mynav {
  color: #fff !important;
  background: rgba(14, 14, 14, 0.64);
  float: left;
  position: absolute;
  height: 100px;
  padding: 2em;
}
.mymenu {
  font-family: "Romantica Regular";
  color: #fff !important;
  font-size: 1.5em;
  font-weight: 900;
  border-bottom: 2px transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.mymenu:hover {
  /* color: #fff;
  font-size: 19px; */
  background-color: transparent;
  text-decoration: none;
  border-bottom: 2px solid #e95c31;
}
.active {
  border-bottom: 2px solid #e95c31;
}

/*Nav*/

/*Header*/
.myheader {
  background: rgba(14, 14, 14, 0.64);
  position: absolute;
  height: 100px;
  width: 100vw;
}

.mybanner_one {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../images/donuts.jpg") no-repeat 0px 0px;
  background-size: auto;
  background-size: cover;
  min-height: 100vh;
}
.mybanner_two {
  background: url("../images/d2.jpg") no-repeat 0px 0px;
  background-size: auto;
  background-size: cover;
  min-height: 30vh;
}
/*Header*/

/*Footer*/
.myfooter {
  width: 100%;
  background-color: #ff6600;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: -1em;
}

.foot {
  padding: 1em;
  color: #fff;
}
/*Footer*/

/*My Headings*/
.mytitles {
  height: 2em;
  letter-spacing: 1px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  width: 100%;
  padding-top: 1em;
}

.mytitles::after {
  background-color: #ff6600;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 100px;
}
/*My Headings*/

/*Buttons*/
.mybutton {
  background-color: rgb(59, 176, 230);
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
  letter-spacing: 1px;
  width: 100%;
  margin-bottom: 3em;
}

.mybutton:hover {
  background-color: #ff6600;
  color: #fff;
  transition: 1s;
}
.rbut {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  line-height: 2em;
}
/*Buttons*/

/*Contact*/
.con {
  letter-spacing: 1px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0.5em;
  background: transparent;
  color: #fff;
}
.con_2 {
  letter-spacing: 1px;
  width: 100%;
  border: none;
  border: 1px solid #fff;
  padding: 0.5em;
  letter-spacing: 1px;
  min-height: 150px;
  background: transparent;
  color: #fff;
}
.con_3 {
  width: 100%;
  border: 1px solid #fff;
  padding: 0.5em;
  letter-spacing: 1px;
  background: transparent;
  color: #fff;
}
.contactback {
  background: url("../images/contact.png") no-repeat 0px 0px;
  background-size: auto;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: #fff;
  margin-top: 3em;
}
.transparentform {
  background: rgba(14, 14, 14, 0.9);
  padding-top: 3rem;
  margin-bottom: 3rem;
}
.ess {
  color: #fff;
  /* font-family: "Romantica Regular"; */
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  padding-bottom: 1em;
}
/*Contact*/

/*Order*/
.order {
  background: url("https://images.unsplash.com/photo-1470124182917-cc6e71b22ecc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80")
    no-repeat 0px 0px;
  background-size: auto;
  -webkit-background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: #fff;
}
.self {
  /* color: #e95c31; */
  /* text-align: center; */
  /* font-weight: bold; */
  padding: 1em;
  line-height: 2em;
}
.einfo {
  text-align: center;
  line-height: 2em;
}
/*order*/

/*about*/
.abus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  line-height: 2em;
}
/*about*/

/*Gallery*/
.galimages {
  height: 15em;
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.ha {
  margin-bottom: 4em;
}

.nam {
  height: 5em;
  padding-top: 1em;
}
/*Gallery*/
/*Shopping Cart*/
.add {
  background-color: #ff6600;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
  letter-spacing: 1px;
  width: 100%;
  margin-bottom: 3em;
}

.add:hover {
  background-color: black;
  color: #fff;
  transition: 1s;
}
/*Shopping Cart*/
